<% include partials/head.ejs %>


    <body>

    

    	<!-- header -->

        	<header role="header">

            	<div class="container">

                	<!-- logo -->

                    	<h1>

                        	<a href="/" title="home"><img src="images/logo-header.png" title="home" alt="home"/></a>

                        </h1>


                    <!-- logo -->

                    <!-- nav -->

                        <% include partials/nav.ejs %>

                    <!-- nav -->

                </div>

            </header>

     <!-- main -->

     <main role="main-inner-wrapper" class="container">

            

                <div class="blog-details">

                    <article class="post-details" id="post-details">

                        <header role="bog-header" class="bog-header text-center">

                            <h2 style="font-weight:bold;">About US</h2>


                        </header>

                        

                        

                        <div class="enter-content">

                            <p> Our Location:  Gratitude Hot Yoga Center is located in North Raleigh in Falls River Shopping Center, off of Durant Rd. and Ravens Ridge Rd. We are in the back of the shopping center, next to The Little Gym. The back of our building faces Shadowlawn Dr, which is our official address (10501 Shadowlawn Drive, Suite 109 Raleigh, NC 27617). Anchor stores in the shopping center are Food Lion, Ace Hardware and Nantucket Grill.</p>

                            <p>Gratitude Hot Yoga Center offers two studios in one location, meeting all of your yoga needs. Whether you are new to yoga or an advanced practitioner, we offer a variety of classes at different levels. Gratitude Yoga has two practice spaces: The Sun Room (Hot Studio) and The Moon Room (Traditional Zen Yoga). In the Sun Room, Gratitude’s Gentle, Hot Flow, Power Vinyasa, Hot G 26 and Express Flow classes are held. The Moon Room is for traditional yoga classes, such as Gentle Yoga, Yin Yoga, Relax and Restore and Specialized Events. Gratitude Hot Yoga Center was featured on ABC news in October 2014. </p>

                            <p>KYS Yoga School (kRtajJatA Yoga), is Gratitude Hot Yoga Center’s, Registered and Approved Yoga Teacher Training School. kRtajJata is the sanskrit word for “Gratitude.”  Our 220 hr. program runs periodically throughout the year. For more information look under the Workshop and Teacher Training Tab or click the RYS Yogo logo on the left to visit kRtajJatA Yoga. Our next 220 hr, weekend program starts this January 2017.  Sign up now for the early bird price!

                            We also collaborate with Wilmington Yoga Center.  This is where Andrea still considers to be here home.  You will see trainings there with Andrea Sewitsky and Jackie Mastro and Gratitude Hot Yoga Center and you will also see trainings at Gratitude Hot Yoga Center with Wilmington Yoga Center.

                            Gratitude Hot Yoga Center is also proud to partner with Wilmington Yoga Center.  Andrea Sewitsky 500hr, 200hr E-RYT, Reiki Master and owner of Gratitude Yoga will be teaching workshops at Wilmington Yoga Center starting in June 2016.  We are also excited to offer the Kunga Trainings from Wilmington Yoga starting in March 2016.  You can find information under our “Teacher Training Tab.” </p>

                        </div>

                    </article>

                    

               

                    


                    

            </div>

                

               

            

        </main>

   

    	<!-- main -->



    <% include partials/footer.ejs %>

   

    
    <% include partials/scripts.ejs %>

    </body>

</html>