<% include partials/head.ejs %>




    <body>

    

        <!-- header -->

            <header role="header">

                <div class="container">

                    <!-- logo -->

                        <h1>

                       <a href="/" title=""><img src="images/logo-header.png" title="avana LLC" alt=""/></a>

                        </h1>

                    <!-- logo -->

                    <!-- nav -->

                          <% include partials/nav.ejs %>
                    <!-- nav -->

                </div>

            </header>

        <!-- header -->

        <!-- main -->


        <!-- main -->

        <main role="main-inner-wrapper" class="container">

            

            <div class="row">

            

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                    <article role="pge-title-content">

                        <header>

                            <h2>General Yoga Etiquette Guidelines</h2>

                        </header>

                   

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <article class="about-content">

                        <p>Please arrive at least 5 to 10 minutes before class (20 minutes for new students). We lock the doors 5 minutes before the class starts to ensure the class starts on time.
                        Please respect the silence of the yoga room before, during and after class. Some students arrive early to relax or meditate before or after class.
                        Please leave your shoes in the locker rooms or cubbies. We do not wear shoes in the practice rooms.
                        Please do not bring your cell phone into the practice rooms.
                        Please understand that you can lie down on your mat or take child’s pose at anytime you are needing rest.  This is always ok and you can join back into the practice whenever you would like.
                         </p>

                    

                        <h3>How should I prepare for class?</h3>

                        <p>Make sure that you are properly hydrated with water.  A suggestion is to drink several glasses in the hours before class.
                        If possible come to class with an empty stomach, avoiding food for two hours.  If that is not possible to do, limit food consumption to just fruits and vegetables.  You should also come to class on an empty stomach. Try not to eat for at least two hours before class.
                        Wear lightweight clothes.
                        Please arrive 20 minutes early for class as we begin promptly and lock the doors 5 minutes before class begins.
                        What do I need to bring?

                        Bring a mat, a water bottle, and a towel.  We also have showers so you may want to bring a change of clothes and a towel.  Our showers are stocked with body wash, shampoo and conditioner. We rent mats and towels for $2 and also sell water for $2.We rent or sell everything you could need, from clothes, to mats, to towels, to water in case you forget!

                        </p>

                       <h3> I am not flexible, can I still practice yoga? </h3>

                       <p>

                        Everyone can practice yoga.  Yoga has so many benefits, including building strength, flexibility and lengthening the muscles.  It also helps the body and mind to relieve stress and anxiety.  Yoga means to unite the body, mind and spirit.  Everyone can do yoga.
                            

                        </p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                    <div class="thumbnails-pan">

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                            <figure>

                                <img src="images/yoga-image6.jpg" width="100%" class="img-responsive"/>

                                <figcaption>

                                    <h3>JENNIFER HOVERSTAD</h3>

                                    <h5> RYT Registered/Certified Yoga Teacher</h5>

                                </figcaption>

                            </figure>

                        </section>

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                            <figure>

                                <img src="images/yoga-image7.jpg" width="100%" class="img-responsive"/>

                                <figcaption>

                                    <h3>Blair Cuneo, RYT</h3>

                                    <h5>RPYT (Registered Prenatal Yoga Teacher)</h5>

                                </figcaption>

                            </figure>

                        </section>

                        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                            <figure>

                                <img src="images/yoga-image8.jpg" width="100%" class="img-responsive"/>

                                <figcaption>

                                    <h3>RACHELLE BOUDREAU BULLARD, RYT</h3>

                                    <h5> REIKI PRACTITIONER FIRST & SECOND DEGREE
Registered/Certified Yoga Teacher</h5>

                                </figcaption>

                            </figure>

                        </section>

                        

                     

                    </div>

                <!-- thumbnails -->

                

                

            </div>

        </main>

      

        <!-- main -->

    
    <% include partials/footer.ejs %>

   

    
    <% include partials/scripts.ejs %>

    </body>

</html>