<% include partials/head.ejs %>


    <body>

    

    	<!-- header -->

        	<header role="header">

            	<div class="container">

                	<!-- logo -->

                    	<h1>

                        	<a href="/" title="h"><img src="images/logo-header.png" title="" alt=""/></a>

                        </h1>


                    <!-- logo -->

                    <!-- nav -->

                        <% include partials/nav.ejs %>

                    <!-- nav -->

                </div>

            </header>

        <!-- header -->

        <!-- main -->

        <main role="main-home-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>Gratitude</span>Hot Yoga Center</h2>

                        </header>

                        <p>Welcome to Gratitude Hot Yoga Center at Falls River Shopping Center in North Raleigh</p>

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                	<figure class="effect-oscar">

                    	<img src="images/yoga-image.jpg" alt="" class="img-responsive"/>

                        <figcaption>

                        	<h2>Eliana Dedda<span> Identity</span></h2>

							<p>Personal Brand Identity.</p>

						

                        </figcaption>

                    </figure>

                </section>

                

                <div class="clearfix"></div>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                	<ul class="grid-lod effect-2" id="grid">

                    	<li>

                        	<figure class="effect-oscar">

                            <img src="images/yoga-image2.jpg" alt="" class="img-responsive"/>

                            <figcaption>

                            	

                                    <h2>Studio Thonik <span>Exhibition</span></h2>

                                    <p>Project for Thonik, design studio based in Amsterdam</p>

                                    <a href="works-details.html">View more</a>

                                

                                     </figcaption>

                        </figure>

                        </li>

                        

                        <li>

                        	<figure class="effect-oscar">

                            <img src="images/yoga-image3.jpg" alt="" class="img-responsive"/>

                            <figcaption>

                                <h2>A Brand <span>new Agency</span></h2>

                                <p>Over 40,000 customers use our themes to power their</p>

                                <a href="works-details.html">View more</a>

                            </figcaption>

                        </figure>

                        </li>

                        

                      

                    

                    </ul>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                	<ul class="grid-lod effect-2" id="grid">

                    	<li>

                        	<figure class="effect-oscar">

                            <img src="images/yoga-image5.jpg" alt="" class="img-responsive"/>

                             <figcaption>

                                <h2>Anatome Milano <span>Galleria</span></h2>

                                <p>Galerie Anatome based in Paris</p>

                                <a href="works-details.html">View more</a>

                            </figcaption>

                        </figure>

                        </li>

                        <li>

                            <figure class="effect-oscar">

                            <img src="images/yoga-image4.jpg" alt="" class="img-responsive"/>

                             <figcaption>

                                <h2>Studio Thonik <span>Exhibition</span></h2>

                                    <p>Project for Thonik, design studio based in Amsterdam</p>

                                <a href="works-details.html">View more</a>

                            </figcaption>

                        </figure>

                        </li>


                      
                    </ul>

                </section>

                <div class="clearfix"></div>

            </div>

        </main>

    	<!-- main -->



    <% include partials/footer.ejs %>

   

    
    <% include partials/scripts.ejs %>

    </body>

</html>